@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.AlternantText {
  display: flex;
  width: max-content;
  padding-bottom: 5px;
  border-bottom: 1px solid $white;
  margin: 0 0 $gap-lg;
  gap: 4px;

  @include media(laptop) {
    // width: 310px;
    margin-bottom: 180px;
    gap: 5px;
  }

  @include media(large-laptop) {
    width: 440px;
  }

  &__CarouselItem {
    text-align: left;
  }
}
