@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

$mask: linear-gradient(to bottom, transparent 0%, $jet-black 10%, $jet-black 90%, transparent 100%);

.AlternantText {
  display: flex;
  width: max-content;
  padding-bottom: 5px;
  // border-bottom: 1px solid $white;
  margin: 0 0 $gap-lg;
  gap: 4px;

  @include media(laptop) {
    margin-bottom: 180px;
    gap: 5px;
  }

  @include media(large-laptop) {
    width: 440px;
  }

  &__Carousel {
    :global {
      .carousel {
        mask-image: $mask;
      }
    }
  }

  &__CarouselItem {
    color: $orioles-orange;
    text-align: left;
  }
}
