@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

$mobile-icon-size: $gap-sm;
$laptop-icon-size: 33.3px;

$mobile-icon-gap: 12px;
$laptop-icon-gap: 23px;

.Link {
  color: $orioles-orange;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  max-width: max-content;
  position: relative;
  transition: all ease-in 0.2s;
  will-change: color;

  @include media(laptop) {
    font-size: 1.625rem;
  }

  &:hover {
    color: $rosso-corsa;
  }

  &::after {
    @include pseudo();
    background: $orioles-orange;
    border-radius: 3px;
    bottom: -2px;

    height: 2px;
    left: $mobile-icon-size + $mobile-icon-gap;
    right: 0;
    transform: rotateY(90deg);
    transform-origin: left center;
    transition: all ease-in 0.2s;
    will-change: background, transform;

    @include media(laptop) {
      bottom: -3px;
      height: 3px;
      left: $laptop-icon-size + $laptop-icon-gap;
    }
  }

  &:hover::after {
    background: $rosso-corsa;
    transform: rotateY(0deg);
  }

  &--Icon {
    padding-left: $mobile-icon-size + $mobile-icon-gap;

    @include media(laptop) {
      padding-left: $laptop-icon-size + $laptop-icon-gap;
    }
  }

  &--Uppercase {
    text-transform: uppercase;
  }

  &__Icon {
    display: block;
    fill: $orioles-orange;
    height: $mobile-icon-size;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease-in 0.2s;
    width: $mobile-icon-size;
    will-change: fill;

    @include media(laptop) {
      height: $laptop-icon-size;
      width: $laptop-icon-size;
    }
  }

  &:hover &__Icon {
    fill: $rosso-corsa;
  }
}
