@import 'styles/colors';
@import 'styles/mixins';

.Banner {
  align-items: center;
  background-color: $orioles-orange;
  color: $white;
  display: flex;
  height: 40px;
  justify-content: center;

  &__Text {
    padding-right: 15px;
    position: relative;

    @include media(laptop) {
      padding-right: 35px;
    }

    &::after {
      @include pseudo();

      background: linear-gradient(to bottom, $ukraine-blue 50%, $ukraine-yellow 50%);
      border-radius: 50%;
      height: 16px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;

      @include media(laptop) {
        height: 21px;
        width: 21px;
      }
    }
  }
}
