@import 'styles/gaps';
@import 'styles/mixins';

.Technologies {
  overflow: visible;

  &__Title {
    margin: 0 0 $gap-lg;

    @include media(laptop) {
      margin: 0 0 120px;
    }
  }

  &__AnimationBlock {
    display: none;

    @include media(large-tablet) {
      display: flex;
      align-items: center;
    }
  }

  &__Content {
    @include media(large-tablet) {
      display: grid;
      gap: $gap-lg;
      grid-template-columns: 1fr 1fr;
    }

    @include media(laptop) {
      gap: $gap-xxl;
    }
  }

  &__Grid {
    display: grid;
    margin-right: -$gap-xs;
    margin-left: -$gap-xs;
    gap: $gap-xxs;
    grid-template-columns: repeat(4, 1fr);

    @include media(phone) {
      gap: $gap-sm;
    }

    @include media(large-phone) {
      gap: 5vw;
    }

    @include media(tablet) {
      gap: $gap-xxs;
      grid-template-columns: repeat(8, 1fr);
    }

    @include media(large-tablet) {
      gap: $gap-lg;
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1440px) {
      gap: $gap-md * 2;
    }

    @include media(large-laptop) {
      margin-right: -$gap-sm;
      margin-left: -$gap-sm;
      gap: $gap-xxl;
    }
  }
}
