node_modules
npm-debug.log

.git
.next
build

.vscode
.husky
.lintstagedrc
.stylelintrc

Dockerfile
Dockerfile.prod
.dockerignore
.docker-compose.yml
.docker-compose.prod.yml

.prettierrc
.prettierignore

.eslintrc
.eslintignore
