{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "importOrder": [
    "^(react|react-dom)$",
    "<THIRD_PARTY_MODULES>",
    "^(^public$)|(^public/(.*)$)$",
    "^(^configs$)|(^configs/(.*)$)$",
    "^(^types$)|(^types/(.*)$)$",
    "^(^hooks$)|(^hooks/(.*)$)$",
    "^(^utils$)|(^utils/(.*)$)$",
    "^(^services$)|(^services/(.*)$)$",
    "^(^contexts$)|(^contexts/(.*)$)$",
    "^(^components$)|(^components/(.*)$)$",
    "^(^layouts$)|(^layouts/(.*)$)$",
    "^(^pages$)|(^pages/(.*)$)$",
    "^(^views$)|(^views/(.*)$)$",
    "^(App|i18n|serviceWorkerRegistration|service-worker|serviceWorkerRegistration|reportWebVitals)$",
    "^\\.\\./.*((?<!(\\.css)|(\\.scss)))$",
    "^\\./.*((?<!(\\.css)|(\\.scss)))$",
    "^styles/(.*\\.module\\.(css|scss))$",
    "^styles/(.*\\.(css|scss))$",
    "^\\.\\./(.*\\.module\\.(css|scss))$",
    "^\\.\\./(.*\\.(css|scss))$",
    "^\\./(.*\\.module\\.(css|scss))$",
    "^\\./(.*\\.(css|scss))$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
