{
  "extends": ["stylelint-config-recommended-scss", "stylelint-config-css-modules"],
  "plugins": ["stylelint-scss", "stylelint-order"],
  "rules": {
    "selector-max-id": 1,
    "number-leading-zero": null,
    "order/properties-alphabetical-order": true,
    "max-nesting-depth": 3,
    "selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": ["global"] }],
    "selector-pseudo-element-no-unknown": [true, { "ignorePseudoElements": ["global"] }],
    "selector-class-pattern": [
      "^(([A-Z][A-Za-z0-9]*)((__|--)[A-Z][A-Za-z0-9]?))*",
      { "message": "Class names should begin with uppercase, and cannot be separated by hyphens" }
    ],
    "order/order": ["custom-properties", "declarations"]
  }
}
