.Map {
  // Fade for react-transition-group, CSSTransition
  :global(.Fade-enter) {
    opacity: 0;
  }

  :global(.Fade-enter-active) {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }

  :global(.Fade-exit) {
    opacity: 1;
  }

  :global(.Fade-exit-active) {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
}
