.Map {
  // Fade for react-transition-group, CSSTransition
  .Transition {
    &--Enter {
      opacity: 0;
    }

    &--EnterActive {
      opacity: 1;
      transition: opacity 300ms ease-in-out;
    }

    &--Exit {
      opacity: 1;
    }

    &--ExitActive {
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }
  }
}
