@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.SocialLinks {
  display: flex;
  gap: $gap-md;

  @include media(laptop) {
    gap: $gap-lg;
  }

  @include media(large-laptop) {
    gap: 45px;
  }

  &__Icon {
    display: block;
    width: 24px;
    height: 24px;
    fill: $white;
  }
}
