@import 'styles/colors';
@import 'styles/gaps';

.SocialLinks {
  &__List {
    display: flex;
    margin: $gap-xxl 0 0;
    gap: $gap-md;
  }

  &__Icon {
    display: block;
    width: 24px;
    height: 24px;
    fill: $white;
  }
}
