@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.Card {
  position: relative;
  display: flex;
  padding: $gap-md;
  border-radius: $gap-xxs;

  @include media(laptop) {
    padding: $gap-xl;
    border-radius: $gap-sm;
  }

  &--FullFrame {
    border: 1px solid $white;

    @include media(laptop) {
      border-width: 1px;
    }
  }

  &__Corner {
    position: absolute;
    width: $gap-md;
    height: $gap-md;
    border: 2px solid transparent;

    @include media(laptop) {
      width: $gap-xl;
      height: $gap-xl;
    }

    &--TopLeft {
      top: 0;
      left: 0;
      border-top-color: $white;
      border-left-color: $white;
      border-top-left-radius: $gap-xxs;

      @include media(laptop) {
        border-top-left-radius: $gap-sm;
      }
    }

    &--TopRight {
      top: 0;
      right: 0;
      border-top-color: $white;
      border-right-color: $white;
      border-top-right-radius: $gap-xxs;

      @include media(laptop) {
        border-top-right-radius: $gap-sm;
      }
    }

    &--BottomLeft {
      bottom: 0;
      left: 0;
      border-bottom-color: $white;
      border-left-color: $white;
      border-bottom-left-radius: $gap-xxs;

      @include media(laptop) {
        border-bottom-left-radius: $gap-sm;
      }
    }

    &--BottomRight {
      right: 0;
      bottom: 0;
      border-right-color: $white;
      border-bottom-color: $white;
      border-bottom-right-radius: $gap-xxs;

      @include media(laptop) {
        border-bottom-right-radius: $gap-sm;
      }
    }
  }
}
