@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.Card {
  border-radius: $gap-xxs;
  display: flex;
  padding: $gap-md;
  position: relative;

  @include media(laptop) {
    border-radius: $gap-sm;
    padding: $gap-xl;
  }

  &--FullFrame {
    border: 1px solid $white;

    @include media(laptop) {
      border-width: 1px;
    }
  }

  &__Corner {
    border: 2px solid transparent;
    position: absolute;
    width: $gap-md;

    @include media(laptop) {
      width: $gap-xl;
    }

    &--TopLeft {
      border-left-color: $white;
      border-top-color: $white;
      border-top-left-radius: $gap-xxs;
      left: 0;
      top: 0;

      @include media(laptop) {
        border-top-left-radius: $gap-sm;
      }
    }

    &--TopRight {
      border-right-color: $white;
      border-top-color: $white;
      border-top-right-radius: $gap-xxs;
      bottom: 0;
      left: 0;

      @include media(laptop) {
        border-top-right-radius: $gap-sm;
      }
    }

    &--BottomLeft {
      border-bottom-color: $white;
      border-bottom-left-radius: $gap-xxs;
      border-left-color: $white;
      right: 0;
      top: 0;

      @include media(laptop) {
        border-bottom-left-radius: $gap-sm;
      }
    }

    &--BottomRight {
      border-bottom-color: $white;
      border-bottom-right-radius: $gap-xxs;
      border-right-color: $white;
      bottom: 0;
      right: 0;

      @include media(laptop) {
        border-bottom-right-radius: $gap-sm;
      }
    }
  }
}
