@import 'styles/colors';
@import 'styles/mixins';

.Input {
  position: relative;
  width: 100%;
  -webkit-tap-highlight-color: transparent;

  &__Field,
  &__Placeholder {
    overflow: hidden;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;

    @include media(laptop) {
      font-size: 1.125rem;
      font-weight: 500;
    }
  }

  &__Field {
    height: 35px;
    border: 0;
    background: transparent;
    color: $white;
    -webkit-tap-highlight-color: transparent;

    &:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 50px $jet-black !important;
      box-shadow: inset 0 0 0 50px $jet-black !important;
      color: $white !important;
      -webkit-text-fill-color: $white !important;
    }

    @include media(laptop) {
      height: 40px;
    }
  }

  &__Placeholder {
    top: 50%;
    color: $sonic-silver;
    transform: translateY(-50%);
    transform-origin: 0 0;
    transition: all 0.2s ease;
    user-select: none;
    will-change: transform, color;

    &--Required::after {
      color: $rosso-corsa;
      content: '*';
      opacity: 0.6;
      transition: inherit;
    }
  }

  &__Placeholder,
  &__Border {
    position: absolute;
    left: 0;
    cursor: text;
  }

  &__Border {
    right: 0;
    bottom: 0;
    height: 1px;
    background: $white;

    @include media(laptop) {
      height: 2px;
    }
  }

  &--HasValue + &__Placeholder,
  &__Field:focus ~ &__Placeholder,
  &__Field:not(:placeholder-shown) ~ &__Placeholder {
    color: $white;
    cursor: default;
    transform: translateY(calc(-100% - 1rem)) scale(0.75);

    &--Required::after {
      opacity: 1;
    }
  }

  &__Error {
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
    color: $rosso-corsa;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1;
    transform: translateY(100%);
    transition: all 0.2s ease;

    @include media(laptop) {
      bottom: -8px;
      font-size: 0.875rem;
      font-weight: 500;
    }
  }
}
