@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.Projects {
  &__Title {
    margin: 0 0 $gap-lg;

    @include media(laptop) {
      margin: 0 0 $expanded-gap-md;
    }
  }

  &__List {
    display: grid;
    gap: $gap-sm;
    grid-auto-rows: 250px;
    grid-template-columns: 1fr;

    @include media(tablet) {
      grid-auto-rows: 300px;
      grid-template-columns: 1fr 1fr;
    }

    @include media(large-tablet) {
      gap: $gap-lg;
      grid-auto-rows: 350px;
    }

    @include media(laptop) {
      grid-auto-rows: 450px;
    }

    @include media(large-laptop) {
      grid-auto-rows: 500px;
    }

    @include media(desktop) {
      grid-auto-rows: 600px;
    }
  }
}
