@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

@keyframes BarberPoleMobile {
  from {
    mask-position: 0 0;
  }
  to {
    mask-position: 115px 0;
  }
}

@keyframes BarberPoleLaptop {
  from {
    mask-position: 0 0;
  }
  to {
    mask-position: 200px 0;
  }
}

.PageLoader {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $jet-black;
  filter: opacity(0) blur($blur-sm);
  transition: filter 0.3s ease-out;
  will-change: filter;

  &--Loading {
    filter: opacity(1) blur($blur-zero);
  }

  // Invert this gradient to make the barber pole spin the other way
  // Before: linear-gradient($logo-angle, $jet-black, $jet-black 30%, transparent 30%, transparent 60%, $jet-black 87%);

  &__Logo {
    animation: BarberPoleMobile 0.7s linear infinite;
    background: $jet-black;
    mask-image: linear-gradient(
      $logo-angle,
      $jet-black,
      $jet-black 30%,
      transparent 30%,
      transparent 55%,
      $jet-black 82%
    );
    mask-size: 115px 55px;
    pointer-events: none;

    @include media(laptop) {
      animation: BarberPoleLaptop 0.7s linear infinite;
      mask-size: 200px 75px;
    }

    & > svg {
      height: 50px;

      @include media(laptop) {
        height: 70px;
      }
    }
  }
}
