@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.Contacts {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  gap: $gap-lg;

  &__PhoneText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  & &__PrivacyText {
    display: inline;
    color: $sonic-silver;

    @include media(laptop) {
      display: none;
    }
  }

  & &__Link {
    color: $white;
  }

  &__PrivacyBlock {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include media(laptop) {
      width: auto;
    }
  }
}
