@import 'styles/mixins';

@import 'styles/colors';

.Contacts {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 90px;

  @include media(laptop) {
    gap: 100px;
    margin-top: 30%;
  }

  &__PhoneText {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__PrivacyText {
    color: $sonic-silver;

    @include media(laptop) {
      display: none;
    }
  }

  &__PrivacyBlock {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 52px;
  }
}
