@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.ReadMoreCard {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;

  & &__Card {
    align-items: center;
    justify-content: center;

    @include media(laptop) {
      display: block;
    }
  }

  & &__Text {
    transition: all 0.2s ease-in-out;
    white-space: nowrap;

    @include media(laptop) {
      position: absolute;
      top: 50%;
      left: 0;
      width: 189px;
      text-align: center;
      transform: translateY(-50%);
      will-change: width, color;
    }

    @include media(laptop) {
      width: 273px;
    }
  }

  & &__Corner {
    transition: all 0.2s ease-in-out;
  }

  &:hover &__Text,
  &:focus-visible &__Text {
    color: $orioles-orange;

    @include media(laptop) {
      width: 100%;
    }
  }

  &:hover &__Corner,
  &:focus-visible &__Corner {
    &:nth-child(1) {
      border-top-color: $orioles-orange;
      border-left-color: $orioles-orange;
    }

    &:nth-child(2) {
      border-top-color: $orioles-orange;
      border-right-color: $orioles-orange;
    }

    &:nth-child(3) {
      border-bottom-color: $orioles-orange;
      border-left-color: $orioles-orange;
    }

    &:nth-child(4) {
      border-right-color: $orioles-orange;
      border-bottom-color: $orioles-orange;
    }
  }
}
