@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.Partners {
  &__Title {
    margin: 0 0 5px;

    @include media(laptop) {
      margin: 0;
    }
  }

  &__Subtitle {
    margin: 0 0 $gap-lg;
    color: $sonic-silver;

    &::before {
      margin-right: 5px;
      content: '>';
    }

    @include media(laptop) {
      width: 150px;
      align-self: center;
      margin: 0;
    }

    @include media(large-laptop) {
      width: 170px;
    }
  }

  &__Container {
    display: flex;
    flex-direction: column;
    gap: $gap-xxs;

    @include media(laptop) {
      flex-direction: row;
      margin: 0 0 $expanded-gap-md;
      gap: $gap-lg;
    }
  }

  &__TickerItem {
    display: flex;
    width: 100px;
    height: $gap-lg;
    align-items: center;
    justify-content: center;
    border-radius: $gap-lg;
    margin: 0 $gap-xs / 2 0;
    background: $white;
    color: $black;

    @include media(laptop) {
      width: 250px;
      height: 70px;
      margin: 0 $gap-xs 0;
    }

    &--Wide {
      width: 180px;

      @include media(laptop) {
        width: 350px;
      }
    }

    &--Placeholder {
      width: auto;
      border-radius: 50%;
      aspect-ratio: 1/1;
      background: $rosso-corsa;
    }
  }
}
