@import 'styles/colors';

.LanguageSwitch {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 150px;
  height: 40px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 30px;
    align-items: center;
    justify-content: center;
    background: $sonic-silver;
    content: '\25BC';
    pointer-events: none;
    transition: 0.2s all ease;
  }

  &:hover::after {
    color: $white;
  }

  &__Select {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 6px 8px;
    background: $jet-black;
    color: $white;
    cursor: pointer;
  }
}
