@import 'styles/gaps';
@import 'styles/mixins';

.Services {
  display: flex;
  flex-direction: column;
  margin-bottom: $gap-lg;
  gap: $gap-lg;

  @include media(laptop) {
    margin-bottom: $gap-xl;
  }

  &__Icons {
    display: flex;
    flex-direction: column;
  }
}
