@import 'styles/gaps';
@import 'styles/mixins';

.Grid {
  display: grid;
  gap: $gap-md;
  grid-template-columns: repeat(4, 1fr);

  @include media(phone) {
    gap: $gap-lg;
  }

  @include media(large-phone) {
    gap: $gap-xxl;
  }

  @include media(tablet) {
    gap: $expanded-gap-xs;
  }

  @include media(large-tablet) {
    gap: $gap-md * 2;
  }

  @include media(laptop) {
    gap: $gap-xxl;
  }

  &__Item {
    width: 100%;
    aspect-ratio: 1/1;
  }
}
