@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

$level-padding: $gap-md;

.Article {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  &__Header {
    position: relative;
    display: flex;
    width: 100%;
    height: min-content;
    min-height: 70vh;
    flex-direction: column;
    background-blend-mode: saturation;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: $gap-xs;

    @include media(laptop) {
      gap: $gap-sm;
    }

    // & > * {
    //   position: relative;
    //   z-index: 1;
    // }

    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   z-index: 0;
    //   width: 100%;
    //   height: 100%;
    //   // backdrop-filter: blur(5px);
    // }
  }

  &__Title {
    line-height: 1;
  }

  &__Title,
  &__Description {
    text-shadow: 0 0 5px rgba($jet-black, 0.5);
  }

  &__ContentWrapper {
    display: flex;
    width: 100%;
    justify-content: center;

    @include media(laptop) {
      padding-top: $expanded-gap-sm;
    }
  }
}

.Content {
  width: 100%;
  max-width: 1000px;
  color: $text-color-default;

  & > *:first-child {
    margin-top: 0;
  }

  h2 {
    @include text-heading2;

    margin: $gap-lg 0 $gap-md;

    @include media(laptop) {
      margin: $gap-xl 0 $gap-lg;
    }
  }

  h3 {
    @include text-heading3;

    margin: $gap-md 0 $gap-sm;

    @include media(laptop) {
      margin: $gap-lg 0 $gap-md;
    }
  }

  p {
    @include text-default;
    margin-bottom: $gap-xs;

    font-weight: 500;

    @include media(laptop) {
      margin-bottom: $gap-sm;
    }
  }

  * p {
    margin-bottom: 0;
  }

  em,
  i {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  u {
    text-decoration: underline;
  }

  s {
    text-decoration: line-through;
  }

  a {
    color: $link-color-secondary;
  }

  hr {
    height: 1px;
    border: none;
    margin: $gap-xxl 0 $gap-md;
    background: $text-color-default;

    @include media(laptop) {
      margin: $expanded-gap-md 0 $gap-xl;
    }
  }

  ul,
  ol {
    padding-left: $level-padding;

    margin-bottom: $gap-sm;
    list-style-position: outside;
    list-style-type: inherit;

    @include media(laptop) {
      margin-bottom: $gap-lg;
    }
  }

  :global {
    .todo-list {
      padding-left: 0;
      list-style-type: none;

      &__label {
        display: grid;
        align-items: center;
        grid-template-columns: $level-padding 1fr;
      }
    }

    figure.image,
    figure.table {
      display: flex;
      width: 100% !important;
      flex-direction: column;
      align-items: center;
      margin-bottom: $gap-sm;
      gap: $gap-xxs;

      @include media(laptop) {
        margin-bottom: $gap-md;
        gap: $gap-xs;
      }

      img,
      table {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: $gap-xxs;
        margin: 0 auto;
      }

      figcaption {
        @include text-small;

        text-align: center;
      }
    }

    figure.image {
      img {
        display: block;
        object-fit: contain;

        @include media(tablet) {
          width: 70%;
        }
      }
    }

    figure.table {
      overflow: hidden;

      table {
        display: block;
        border: 1px solid $text-color-default;
        border-radius: $gap-xxs;
        border-collapse: separate !important;
        border-spacing: 0;
        overflow-x: auto;
        white-space: nowrap;

        @include media(laptop) {
          &::-webkit-scrollbar {
            height: 2px;
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background: linear-gradient(
              to right,
              transparent 5%,
              rgba($orioles-orange, 0.8) 5%,
              rgba($orioles-orange, 0.8) 95%,
              transparent 95%
            );
            background-clip: content-box;

            &:hover {
              background: $rosso-corsa;
            }
          }
        }

        tbody {
          display: table;
          width: 100%;
        }

        td {
          @include text-small;
          padding: $gap-xxs;

          border: 0.5px solid $text-color-default;
          line-height: 1.125 !important;

          @include media(laptop) {
            @include text-tiny;
          }
        }

        tr td:first-child {
          border-left: 0;
        }

        tr td:last-child {
          border-right: 0;
        }

        tr:last-child td {
          border-bottom: 0;
        }

        tr:first-child td {
          border-top: 0;
        }
      }
    }
  }

  li {
    @include text-default;

    display: list-item;
    line-height: 1.375 !important;

    p {
      line-height: inherit;
    }

    &::marker {
      content: unset;
      font: inherit;
    }
  }

  input[type='checkbox'] {
    position: relative;
    display: inline-block;
    height: 1rem;
    border: 1px solid $text-color-default-hover;
    border-radius: 4px;
    aspect-ratio: 1;

    &:checked {
      background: $text-color-default-hover;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        aspect-ratio: 1;
        background: $text-color-default;
        content: '';
        mask: url('/icons/check.svg') no-repeat 50% 50%;
        mask-size: contain;
        transform: translate(-50%, -50%);
      }
    }
  }

  blockquote {
    position: relative;
    padding-left: $level-padding;
    margin-bottom: $gap-xs;
    font-style: italic;

    @include media(laptop) {
      margin-bottom: $gap-md;
    }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 4px;
      border-radius: 10px;
      background: $white;
      content: '';
    }

    p:first-child {
      &::before {
        content: open-quote;
      }

      &::after {
        content: close-quote;
      }
    }

    p:last-child:not(:only-child) {
      margin-top: $gap-xs;
      font-style: normal;

      &::before {
        content: '— ';
      }
    }
  }

  pre {
    display: block;
    max-width: 100%;
    padding: 1.2rem;
    border: 1px solid $white;
    border-radius: $gap-xxs;
    margin-bottom: $gap-xs;
    overflow-x: auto;

    @include media(laptop) {
      margin-bottom: $gap-sm;

      &::-webkit-scrollbar {
        height: 2px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background: linear-gradient(
          to right,
          transparent 5%,
          rgba($orioles-orange, 0.8) 5%,
          rgba($orioles-orange, 0.8) 95%,
          transparent 95%
        );
        background-clip: content-box;

        &:hover {
          background: $rosso-corsa;
        }
      }
    }
  }

  code {
    @include text-small;
    font-weight: 600 !important;

    white-space: pre;

    @include media(laptop) {
      @include text-tiny;
    }
  }
}
