@import 'styles/gaps';
@import 'styles/mixins';
@import 'styles/colors';

.Sitemap {
  &__Title {
    padding-bottom: $gap-sm;
    border-bottom: 1px solid $white;
  }

  &__List {
    display: flex;
    flex-direction: column;
    padding-top: $expanded-gap-xs;
    padding-bottom: $expanded-gap-xs;
    gap: $gap-sm;
  }

  &__Text {
    color: $white;
    font-size: 1.125rem;
    line-height: 1.3;

    &:hover {
      color: $philippine-orange;
      transition: color 0.3s ease-in-out;
    }
  }
}
