@import 'styles/gaps';
@import 'styles/colors';
@import 'styles/media';
@import 'styles/mixins';

@keyframes wave-before {
  0%,
  100% {
    left: -5px;
  }

  50% {
    left: 100%;
  }
}

@keyframes wave-after {
  0%,
  100% {
    right: -15px;
  }

  50% {
    right: 100%;
  }
}

.AboutUs {
  &__Box {
    max-width: 100%;

    @include media(laptop) {
      display: flex;
      width: max-content;
      max-width: $breakpoint-large-tablet;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: auto;
    }

    @include media(large-laptop) {
      max-width: $breakpoint-laptop;
    }
  }

  &__Title {
    margin-bottom: $gap-lg;

    @include media(laptop) {
      margin-bottom: $expanded-gap-md;
    }
  }

  &__Subtitle {
    margin-bottom: $gap-md;

    @include media(laptop) {
      width: 765px;
      max-width: 100%;
      margin-bottom: 75px;
      margin-left: auto;
      text-indent: 125px;
    }

    @include media(large-laptop) {
      width: 1025px;
      text-indent: 170px;
    }
  }

  &__Line {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 65px;
    background: $white;

    @include media(laptop) {
      width: 837px;
      align-self: flex-end;
      margin-bottom: 225px;
    }

    &::before,
    &::after {
      @include pseudo();

      border-radius: 50%;
      animation-timing-function: cubic-bezier(0, 1.2, 1, -0.2);
      background: $white;
    }

    &::before {
      top: -5px;
      left: 0;
      width: 10px;
      height: 10px;
      animation: wave-before 3s infinite;
      animation-delay: 1.8s;
      will-change: left;
    }

    &::after {
      top: -15px;
      right: 0;
      width: 30px;
      height: 30px;
      animation: wave-after 3s infinite;
      will-change: right;
    }
  }

  &__CardsContainer {
    display: grid;
    margin-bottom: $gap-lg;
    gap: $gap-md;
    grid-auto-rows: 100px;
    grid-template-columns: 1fr;

    @include media(large-phone) {
      grid-auto-rows: 150px;
    }

    @include media(tablet) {
      align-self: flex-end;
      margin-bottom: $gap-md * 2;
      grid-auto-rows: unset;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__Card {
    @include media(tablet) {
      max-height: 250px;
      aspect-ratio: 4/3.5;
    }

    @include media(laptop) {
      max-height: unset;
    }
  }

  &__CardText {
    align-self: center;
    margin: 0 auto;

    @include media(tablet) {
      align-self: flex-end;
    }
  }
}
