@import 'styles/gaps';
@import 'styles/colors';
@import 'styles/media';
@import 'styles/mixins';

.AboutUs {
  &__Box {
    max-width: 100%;

    @include media(laptop) {
      display: flex;
      width: max-content;
      max-width: $breakpoint-large-tablet;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: auto;
    }

    @include media(large-laptop) {
      max-width: $breakpoint-laptop;
    }
  }

  &__Title {
    margin-bottom: $gap-lg;

    @include media(laptop) {
      margin-bottom: $expanded-gap-md;
    }
  }

  &__Subtitle {
    margin-bottom: $gap-md;

    @include media(laptop) {
      width: 1250px;
      max-width: 100%;
      margin-bottom: 75px;
      margin-left: auto;
      text-indent: 185px;
    }
  }

  &__Line {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 65px;
    background: $white;

    @include media(laptop) {
      width: 837px;
      align-self: flex-end;
      margin-bottom: 225px;
    }

    &::before,
    &::after {
      @include pseudo();

      border-radius: 50%;
      background: $white;
    }

    &::before {
      top: -5px;
      width: 10px;
      height: 10px;
    }

    &::after {
      top: -15px;
      right: 0;
      width: 30px;
      height: 30px;
    }
  }

  &__CardsContainer {
    display: grid;
    margin-bottom: $gap-lg;
    gap: $gap-md;
    grid-auto-rows: 100px;
    grid-template-columns: 1fr;

    @include media(large-phone) {
      grid-auto-rows: 150px;
    }

    @include media(tablet) {
      align-self: flex-end;
      margin-bottom: $gap-md * 2;
      grid-auto-rows: unset;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__Card {
    @include media(tablet) {
      max-height: 250px;
      aspect-ratio: 4/3.5;
    }

    @include media(laptop) {
      max-height: unset;
    }
  }

  &__CardText {
    align-self: center;
    margin: 0 auto;

    @include media(tablet) {
      align-self: flex-end;
    }
  }
}
