@import 'styles/mixins';

.Calendly {
  padding: 0;
  margin: 0;

  & > div {
    height: unset !important;
  }

  iframe {
    height: 1240px !important;

    @include media(phone) {
      height: 1180px !important;
    }

    @include media(large-phone) {
      height: 1200px !important;
    }

    @include media(laptop) {
      height: 800px !important;
    }
  }
}
