@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.Content {
  display: flex;
  flex-direction: column;
  gap: $gap-lg;

  &__Title {
    @include media(laptop) {
      max-width: 80%;
    }
  }

  &__Text {
    @include media(laptop) {
      max-width: 500px;
      margin-top: $expanded-gap-xs;
      margin-bottom: $expanded-gap-md;
    }
  }

  &__PrivacyText {
    display: none;

    @include media(laptop) {
      display: inline;
      color: $sonic-silver !important;
    }
  }

  &__ButtonContent {
    display: flex;
    flex-direction: column;
    gap: $gap-lg;
  }
}
