@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.TeamMemberCard {
  display: flex;
  flex-direction: column;

  &__Icon,
  &__Name,
  &__Title {
    transition: all 0.2s ease-in-out;
  }

  &__Photo {
    position: relative;
    border-radius: $gap-xxs;
    margin: 0 0 $gap-sm;
    aspect-ratio: 1/1;

    @include media(laptop) {
      border-radius: $gap-sm;
      margin: 0 0 $gap-md;
    }
  }

  &__Icon {
    position: absolute;
    right: $gap-sm;
    bottom: $gap-sm;
    width: $gap-sm;
    fill: $white;

    @include media(laptop) {
      right: $gap-md;
      bottom: $gap-md;
      width: $gap-md;
      opacity: 0;
    }
  }

  &__Name {
    margin: 0 0 5px;

    @include media(laptop) {
      margin: 0 0 $gap-xxs;
    }
  }

  &:hover &__Icon,
  &:focus-visible &__Icon {
    fill: $orioles-orange;
    opacity: 1;
  }

  &:hover &__Name,
  &:hover &__Title,
  &:focus-visible &__Name,
  &:focus-visible &__Title {
    color: $orioles-orange;
  }
}
