@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.ProjectCard {
  position: relative;
  overflow: hidden;
  border-radius: $gap-xxs;

  @include media(laptop) {
    border-radius: $gap-sm;
  }

  &__Image,
  &__InnerCard {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  &__InnerCard {
    display: flex;
    max-width: calc(100% - $gap-md * 2);
    max-height: calc(100% - $gap-lg * 2);
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-in-out;

    @include media(laptop) {
      max-width: calc(100% - $gap-lg * 2);
      max-height: calc(100% - $gap-xxl * 2);
      border-radius: 7px;
    }

    &__Dot {
      display: none;
      width: $gap-xxs;
      height: $gap-xxs;
      border-radius: 50%;
      background: $white;

      @include media(laptop) {
        display: block;
      }
    }
  }

  &:hover &__InnerCard,
  &:focus-within &__InnerCard,
  &:focus-visible &__InnerCard {
    background: rgb($jet-black, 0.9);
  }

  &__Image {
    object-fit: cover;
  }

  &__Name {
    position: relative;
    text-align: center;
  }

  &__Button {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: max-content;
    cursor: pointer;
    opacity: 0;
    transform: translate(-50%, 100%);
    transition: all 0.2s ease-in-out;
  }

  &:hover &__Button,
  &:focus-visible &__Button,
  &:focus-within &__Button {
    opacity: 1;
  }

  &__ButtonText {
    border-bottom: 1px solid transparent;
    text-shadow: 0 0 5px rgba($jet-black, 0.3);
    transition: all 0.2s ease-in-out;
  }

  &__Button:hover &__ButtonText,
  &__Button:focus-visible &__ButtonText {
    border-color: $white;
  }
}
