@import 'styles/gaps';
@import 'styles/mixins';

.ProjectCard {
  & &__Image {
    border-radius: $gap-xxs;
    margin: 0 0 $gap-sm;
    aspect-ratio: 1/1;

    @include media(laptop) {
      border-radius: $gap-sm;
      margin: 0 0 $gap-lg;
    }
  }

  & &__Title {
    margin: 0 0 $gap-xxs;

    @include media(laptop) {
      margin: 0 0 $gap-sm;
    }
  }

  & &__Subtitle {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
