@import 'styles/gaps';
@import 'styles/mixins';
@import 'styles/colors';

.Hero {
  padding-top: $expanded-gap-sm;

  @include media(laptop) {
    padding-top: $expanded-gap-lg;
  }

  &__Container {
    padding-top: 0;
  }

  &__Title {
    margin: 0 0 $gap-lg;

    @include media(laptop) {
      margin: 0 0 $expanded-gap-md;
    }
  }

  &__SubtitleContainer {
    display: flex;
    flex-direction: column-reverse;

    @include media(tablet) {
      flex-direction: row;
      margin: $expanded-gap-xs 0 0 0;
      gap: $expanded-gap-sm;
    }
  }

  &__Subtitle {
    width: 290px;
    margin: 0 0 $gap-lg;

    @include media(tablet) {
      margin-right: auto;
    }

    @include media(laptop) {
      margin-bottom: $expanded-gap-xs;
    }

    @include media(large-laptop) {
      width: 480px;
    }
  }

  &__Circle {
    width: 150px;
    height: min-content;
    margin: 0 0 $gap-xl auto;
    transform: rotate(0);

    @include media(large-laptop) {
      width: 220px;
    }
  }

  & > :not(&__BackgroundLight) {
    position: relative;
    z-index: 1;
  }

  &__BackgroundLight {
    position: absolute;
    z-index: 0;
    top: 190px;
    left: -1500px;
    width: 1374px;
    height: 1374px;
    background: $orioles-orange;
    filter: blur(315.247px);

    @include media(laptop) {
      top: 590px;
      left: -1299px;
      height: 2574px;
    }
  }

  &__Description {
    width: 232px;
    margin: 0 auto $gap-xxl;

    @include media(tablet) {
      margin-right: 0;
      margin-left: 60px;
    }

    @include media(large-tablet) {
      margin-left: 170px;
    }

    @include media(laptop) {
      margin-bottom: $expanded-gap-xl;
      margin-left: 23%;
    }

    @include media(large-laptop) {
      width: 350px;
      margin-left: 21vw;
    }
  }

  &__SliderSubtitle {
    margin: 0 0 $expanded-gap-xs;

    @include media(laptop) {
      width: 540px;
      margin-right: auto;
      margin-bottom: $expanded-gap-md;
      margin-left: auto;
      text-indent: $gap-lg;
    }

    @include media(large-laptop) {
      width: 950px;
      text-indent: 70px;
    }
  }

  &__SliderButtonSubtitle {
    margin: 0 0 $gap-lg;

    @include media(laptop) {
      width: 505px;
      margin-right: auto;
      margin-bottom: $gap-xl + 10px;
      margin-left: auto;
    }

    @include media(large-laptop) {
      width: 540px;
    }
  }

  &__Alternant {
    margin: 0 0 $gap-lg;

    @include media(laptop) {
      margin: 0 0 180px;
    }
  }

  &__AlternantItem {
    color: $orioles-orange;
  }

  &__Button {
    @include media(laptop) {
      margin: 0 auto 0;
    }
  }
}
