@import 'styles/gaps';
@import 'styles/mixins';
@import 'styles/colors';

.Hero {
  padding-top: $expanded-gap-sm;

  @include media(laptop) {
    padding-top: $expanded-gap-lg;
  }

  &__Container {
    padding-top: 0;
  }

  &__Title {
    margin: 0 0 $gap-lg;

    @include media(laptop) {
      margin: 0 0 $expanded-gap-md;
    }
  }

  &__DescriptionContainer {
    display: flex;
    flex-direction: column;
  }

  &__SubtitleContainer {
    margin: 0 auto $gap-xxl;

    @include media(phone) {
      margin: 0 auto $gap-xxl;
    }

    @include media(laptop) {
      margin: 0 auto $expanded-gap-xl;
    }

    @include media(large-laptop) {
      margin: 0 auto $expanded-gap-xl;
    }
  }

  &__Grid {
    display: grid;
    gap: $gap-lg;

    @include media(tablet) {
      width: 100%;
      max-width: 950px;
      margin-right: auto;
      margin-left: auto;
      gap: 110px 120px;
      grid-auto-rows: min-content;
      grid-template-columns: 27fr 48fr;
    }
  }

  &__BackgroundLight {
    position: absolute;
    z-index: 0;
    top: 190px;
    left: -1500px;
    width: 1374px;
    height: 1374px;
    border-radius: 50%;
    background: $orioles-orange;
    filter: blur(315px);

    @include media(laptop) {
      top: 535px;
      left: -2500px;
      width: 2860px;
      height: 2860px;
    }
  }

  & > :not(&__BackgroundLight) {
    position: relative;
    z-index: 1;
  }

  &__Subtitle,
  &__Description {
    white-space: pre-line;
  }

  &__Circle {
    width: 150px;
    order: 2;
    transform: rotate(0);

    @include media(tablet) {
      order: unset;
      transform: rotate(45deg);
    }

    @include media(large-laptop) {
      width: 220px;
    }
  }

  &__Subtitle {
    order: 2;

    @include media(tablet) {
      order: unset;
    }
  }

  &__Description {
    order: 3;
    grid-column: 1 / -1;

    @include media(tablet) {
      order: unset;
    }
  }

  &__UnderTickerContainer {
    display: flex;
    flex-direction: column;
  }

  &__UnderTickerSubtitle {
    margin: 0 0 $expanded-gap-xs;
    grid-column: 1 / -1;

    @include media(laptop) {
      margin: 0 0 $expanded-gap-md;

      text-indent: $gap-lg;
    }

    @include media(large-laptop) {
      text-indent: 70px;
    }
  }

  &__ButtonSubtitle {
    margin: 0 0 $gap-lg;
    grid-column: 1 / -1;

    @include media(laptop) {
      margin: 0 0 $gap-md * 2;
    }
  }

  &__Button {
    grid-column: 1 / -1;
  }

  &__SliderButtonSubtitle {
    margin: 0 0 $gap-lg;

    @include media(laptop) {
      margin: 0 0 $gap-md * 2;
    }
  }

  &__Alternant {
    margin: 0 0 $gap-lg;

    @include media(laptop) {
      margin: 0 0 180px;
    }
  }

  &__AlternantItem {
    color: $orioles-orange;
  }

  &__TickerText {
    margin: 0 $gap-md;
    font-weight: 500;

    @include media(laptop) {
      margin: 0 $gap-md;
    }

    &--Orange {
      color: $orioles-orange;
    }
  }
}
