@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

$bottom-gradient: linear-gradient(to bottom, transparent 85%, $jet-black);
$bottom-mask: linear-gradient(to bottom, $jet-black 88%, transparent 98%);

.Hero {
  position: relative;
  z-index: none !important;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding-top: $expanded-gap-lg;
  padding-left: $gap-sm;
  background: none;
  mask-image: $bottom-mask;

  @include media(phone) {
    padding-left: $gap-lg;
  }

  @include media(laptop) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-left: 0;
  }

  &__Particles {
    z-index: 2;
  }

  &__Background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat right / cover url('/images/hero-bg.webp'), $bottom-gradient !important;
    background-blend-mode: saturation;
    will-change: transform;
  }

  &__Box {
    position: relative;
    z-index: 3;
    will-change: transform;

    @include media(laptop) {
      display: flex;
      width: max-content;
      flex-direction: column;
      align-items: flex-end;
      margin-top: $expanded-gap-xs;
    }
  }

  &__Title {
    margin-bottom: $gap-lg;
    pointer-events: none;
    text-transform: uppercase;
    user-select: none;

    @media screen and (max-width: 449px) {
      font-size: 11vw;
    }

    @media screen and (max-width: 389px) {
      font-size: 11.6vw;
    }

    @include media(laptop) {
      position: relative;
      margin-bottom: $gap-md * 2;
      line-height: 1;
      text-indent: 49px;
    }

    @include media(large-laptop) {
      text-indent: 76px;
    }

    &::before {
      margin-right: $gap-xs;
      color: inherit;
      content: '>';
      font-size: inherit;

      @include media(laptop) {
        position: absolute;
        left: -112px;
      }

      @include media(large-laptop) {
        left: -165px;
      }
    }
  }

  &__SelectionBg {
    background: rgb($rosso-corsa, 0.8);
    font-size: inherit;
    font-weight: inherit;
  }

  &__Subtitle {
    max-width: 225px;
    user-select: none;

    @include media(laptop) {
      max-width: 255px;
      margin-right: 123px;
    }

    @include media(large-laptop) {
      max-width: 370px;
      margin-right: 190px;
    }
  }
}
