@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

@import 'components/Button/Button.module';

.LanguageSwitcher {
  display: flex;
  justify-content: space-between;

  @include media(laptop) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:hover &__Control,
    &:focus-within &__Control {
      border-color: $rosso-corsa;
    }
  }

  &__Control {
    color: $white;
    cursor: pointer;
    font-size: 1.625rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    @include media(laptop) {
      padding: $secondary-laptop-border-vertical-padding $secondary-laptop-border-horizontal-padding;
      border: 2px solid $orioles-orange;
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
    }

    @include media(large-laptop) {
      padding: $secondary-large-laptop-border-vertical-padding $secondary-large-laptop-border-horizontal-padding;
      font-size: 1.125rem;
    }

    &--Left {
      @include media(laptop) {
        border-right: 0;
        border-bottom-left-radius: $gap-lg;
        border-top-left-radius: $gap-lg;
      }
    }

    &--Right {
      @include media(laptop) {
        border-left: 0;
        border-bottom-right-radius: $gap-lg;
        border-top-right-radius: $gap-lg;
      }
    }

    &:hover,
    &:focus-visible {
      color: $rosso-corsa;

      @include media(laptop) {
        border-color: $rosso-corsa;
        background: $rosso-corsa;
        color: $white;
      }
    }

    &--Active {
      color: $orioles-orange;

      @include media(laptop) {
        border-color: $orioles-orange;
      }

      &:hover,
      &:focus-visible {
        color: $rosso-corsa;

        @include media(laptop) {
          border-color: $rosso-corsa;
          background: $rosso-corsa;
          color: $white;
        }
      }
    }
  }
}
