@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.Navigation {
  padding-top: 145px;

  @include media(laptop) {
    padding-top: 0;
  }

  &__List {
    display: flex;
    flex-direction: column;
    gap: $gap-lg;

    @include media(laptop) {
      flex-direction: row;
    }
  }

  &__LinkText {
    transition: color 0.2s ease-in-out;
  }

  &__Link:hover &__LinkText,
  &__Link:focus-visible &__LinkText {
    color: $orioles-orange;
  }
}
