@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.Navigation {
  padding-top: 145px;

  @include media(laptop) {
    padding-top: 0;
  }

  &__List {
    display: flex;
    flex-direction: column;
    gap: $gap-lg;

    @include media(laptop) {
      flex-direction: row;
    }
  }

  &__ListItem {
    &:hover,
    &:focus {
      color: $orioles-orange;
    }
  }
}
