@import 'styles/colors';
@import 'styles/gaps';

.Policies {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: $gap-xxs;

  & &__Title {
    border-bottom: 1px solid $white;
    margin-bottom: $gap-xs;
    line-height: 1;
  }

  & &__Link {
    color: $white;
  }
}
