@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.Policies {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 0 $gap-xxl;
  gap: 5px;

  @include media(laptop) {
    margin: 0;
    gap: $gap-xxs;
  }

  & &__Title {
    padding: 0 0 5px;
    border-bottom: 1px solid $white;
    margin: 0 0 5px;

    @include media(laptop) {
      padding: 0 0 7px;
      margin: 0 0 18px;
    }
  }

  & &__Title,
  & &__LinkText {
    line-height: 1;
  }

  & &__Link {
    padding: 0 0 5px;
    border-bottom: 1px solid transparent;
    color: $link-color-default;
    transition: all 0.2s ease-in-out;

    @include media(laptop) {
      padding: 0 0 7px;
    }

    &:hover,
    &:focus-visible {
      border-color: $white;
    }
  }
}
