@import 'styles/colors';
@import 'styles/gaps';

.HeaderButton {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  padding: 0 $gap-xxs;
  border: 1px solid $orioles-orange;
  border-radius: $gap-lg;
  color: $white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus-visible {
    border-color: $rosso-corsa;
  }
}
