@import 'styles/colors';

@keyframes lines {
  0% {
    transform: rotateX(0deg);
  }
  25% {
    transform: rotateX(45deg);
  }
  40% {
    transform: rotateX(150deg);
  }
  50% {
    transform: rotateX(175deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.Animation {
  position: relative;
  display: flex;
  width: 400px;
  height: 100px;
  justify-content: space-between;

  &__Line {
    width: 2px;
    height: 100%;
    border-radius: 3px;
    animation: lines 3s ease-in-out infinite;
    background: $white;

    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        animation-delay: 0.15s * $i;
      }
    }

    @for $i from 9 through 16 {
      &:nth-child(#{$i}) {
        animation-delay: 0.15s * $i;
      }
    }

    @for $i from 17 through 24 {
      &:nth-child(#{$i}) {
        animation-delay: 0.15s * $i;
      }
    }

    @for $i from 25 through 32 {
      &:nth-child(#{$i}) {
        animation-delay: 0.15s * $i;
      }
    }
  }
}
