@import 'styles/gaps';
@import 'styles/colors';
@import 'styles/mixins';

.ServiceCard {
  @include media(laptop) {
    display: grid;
    padding-top: $expanded-gap-xs;
    padding-bottom: 100px;
    border-bottom: 1px solid #757575;
    margin-bottom: $gap-xl + 10px;
    gap: $gap-sm;
    grid-template-columns: 1fr 1fr;

    @include media(large-laptop) {
      gap: $gap-xxl;
    }
  }

  &__TitleContainer {
    display: flex;
    margin: $gap-xl + 10px 0 $gap-md 0;
    gap: $gap-xs;

    @include media(laptop) {
      margin-top: 0;
      gap: $expanded-gap-xs;
    }
  }

  &__Order {
    color: $sonic-silver;

    &::after {
      content: '/';
    }
  }

  &__Description {
    padding-bottom: $gap-xl + 10px;
    border-bottom: 1px solid $sonic-silver;
    margin: 0 0 $gap-lg 0;

    @include media(laptop) {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }

    @include media(large-laptop) {
      width: 600px;
    }
  }
}
