@import 'styles/gaps';
@import 'styles/mixins';

.Technologies {
  margin-top: $gap-xxl;

  &__GridBlock {
    width: 100%;

    @include media(laptop) {
      width: 50%;
    }
  }

  &__AnimationBlock {
    display: block;
    margin-top: 10%;
    margin-left: 10%;
  }

  &__TechBox {
    @include media(laptop) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
