@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.Footer {
  display: grid;
  padding-bottom: $gap-xl;
  gap: $gap-md;
  grid-template-columns: 1fr;

  @include media(laptop) {
    padding-bottom: $gap-xxl;
    grid-template-columns: 1fr min-content;
  }

  &__Divider {
    background: $sonic-silver;
    grid-column: 1 / -1;
  }

  & > &__Title {
    line-height: 0.9;
  }

  &__Section {
    display: flex;
    flex-direction: column;

    &--JustifyBetween {
      @include media(laptop) {
        justify-content: space-between;
      }
    }

    &--AlignEnd {
      align-items: flex-end;
    }
  }
}
