@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.Footer {
  display: grid;
  padding-bottom: $gap-xl;
  gap: $gap-md;
  grid-template-columns: 1fr;

  @include media(laptop) {
    padding-bottom: $gap-xxl;
    gap: $expanded-gap-xs;
    grid-template-columns: 1fr min-content;
  }

  &__Divider {
    background: $sonic-silver;
    grid-column: 1 / -1;
  }

  & &__Title {
    max-width: 350px;
    line-height: 1.1;

    @include media(laptop) {
      max-width: 650px;
      margin-right: -$gap-md * 2;
      line-height: 0.9;
    }

    @include media(large-laptop) {
      max-width: 1010px;
      margin-right: -$expanded-gap-xs;
    }
  }

  & &__Subtitle {
    max-width: 260px;
    align-self: flex-start;

    @include media(laptop) {
      max-width: 300px;
    }

    @include media(large-laptop) {
      max-width: 500px;
    }
  }

  & &__MadeByZapal {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $sonic-silver;
  }

  &__Section {
    position: relative;
    display: flex;
    flex-direction: column;

    &--JustifyBetween {
      @include media(laptop) {
        justify-content: space-between;
      }
    }

    &--AlignEnd {
      align-items: flex-end;
    }
  }

  &__Social {
    @include media(laptop) {
      margin: 0 0 370px;
    }
  }
}
