@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.Logo {
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(laptop) {
    position: relative;
    width: 162px;
    height: 43px;
  }

  &__Svg {
    width: 23px;
    fill: $white;
    transition: all ease 0.2s;

    @include media(laptop) {
      width: 34px;
    }
  }

  & &__Name {
    @include media(laptop) {
      position: absolute;
      top: -6px;
      left: 47px;
      font-size: 47px;
      font-weight: 700;
      line-height: 1;
    }
  }
}
