@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';
@import 'styles/variables';

.Modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  backdrop-filter: saturate(100%) blur($blur-zero);
  background: rgba($jet-black, 0.9);
  filter: opacity(0) blur($blur-sm);
  transition: all 0.3s ease-out;
  will-change: filter, backdrop-filter;

  &--Open {
    backdrop-filter: saturate(180%) blur($blur-md);
    filter: opacity(1) blur($blur-zero);
  }

  &__Content {
    width: 100%;
    height: 100%;
  }

  &__CloseButton {
    position: absolute;
    z-index: 15;
    top: 35px;
    right: $gap-sm;
    display: flex;
    width: $gap-lg;
    height: 35px;
    align-items: center;
    justify-content: center;
    border: 1px solid $orioles-orange;
    border-radius: $gap-lg;
    cursor: pointer;

    @include media(phone) {
      top: $gap-lg;
      right: $gap-lg;
    }

    svg {
      width: 16px;
      color: $white;
    }
  }
}
