@import 'styles/gaps';
@import 'styles/mixins';

.Blog {
  padding-top: $expanded-gap-xs;

  @include media(laptop) {
    padding-top: $expanded-gap-lg;
  }

  @include media(large-laptop) {
    padding-top: $expanded-gap-xl;
  }

  &__Title {
    margin-bottom: $gap-xxl;
  }

  &__Grid {
    position: relative;
    z-index: 2;
    display: grid;
    gap: $gap-sm;

    @include media(tablet) {
      grid-template-columns: 1fr 1fr;
    }

    @include media(large-tablet) {
      gap: $gap-lg;
    }

    @include media(laptop) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include media(large-laptop) {
      gap: $gap-md;
    }

    @include media(desktop) {
      gap: $gap-lg;
    }
  }

  &__Pagination {
    margin-top: $gap-lg;

    @include media(tablet) {
      margin-top: $gap-xl;
    }

    @include media(laptop) {
      margin-top: $expanded-gap-xs;
    }

    @include media(large-laptop) {
      margin-top: $expanded-gap-sm;
    }
  }
}
