@import 'styles/colors';
@import 'styles/mixins';

.Text {
  color: $text-color-default;
  font-size: 1rem;
  line-height: 1.2;

  &--Uppercase {
    text-transform: uppercase;
  }
}

.Heading1 {
  @include text-heading1;
}

.Heading2 {
  @include text-heading2;
}

.Heading3 {
  @include text-heading3;
}

.Body {
  @include text-default;
}

.Small {
  @include text-small;
}

.Tiny {
  @include text-tiny;
}
