@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.CookiesPolicy {
  &__Article {
    padding-bottom: $gap-xl;

    @include media(laptop) {
      padding-bottom: $gap-xxl;
    }
  }

  &__Divider {
    padding: 0 $gap-lg;

    @include media(laptop) {
      padding: 0 $expanded-gap-sm;
    }
  }

  &__CookieCard {
    flex-direction: column;

    margin: $gap-sm 0;

    @include media(laptop) {
      margin: $gap-lg 0;
    }
  }

  a {
    color: $orioles-orange;

    &:hover {
      text-decoration: underline;
    }
  }

  h2,
  h3,
  p {
    margin-bottom: $gap-xs;

    @include media(laptop) {
      margin-bottom: $gap-sm;
    }
  }
}
