@import 'styles/mixins';
@import 'styles/gaps';
@import 'styles/colors';

.TableOfContent {
  &__Title {
    margin-bottom: $gap-lg;

    @include media(desktop) {
      margin-bottom: $expanded-gap-xs;
    }
  }

  &__List {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include media(desktop) {
      margin-bottom: $expanded-gap-md + $gap-md;
      gap: $gap-sm;
    }
  }

  &__FirstChild {
    display: flex;
    flex-direction: column;
    margin-left: $gap-sm;
    gap: $gap-xxs;

    @include media(desktop) {
      gap: $gap-sm;
    }
  }

  &__FirstChild__Child {
    display: flex;
    flex-direction: column;
    margin-left: $gap-lg;
    gap: $gap-xxs;

    @include media(desktop) {
      gap: $gap-sm;
    }
  }

  &__Link {
    color: $link-color-default;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $link-color-default-hover;
    }
  }
}
