@import 'styles/colors';
@import 'styles/gaps';

.PrivacyPolicy {
  &__Article {
    padding: $gap-xl 0 $divider-gap-md;
  }

  a {
    color: $orioles-orange;

    &:hover {
      text-decoration: underline;
    }
  }
}
