@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.PrivacyPolicy {
  &__Article {
    padding-bottom: $expanded-gap-xs;

    @include media(laptop) {
      padding-bottom: $expanded-gap-md;
    }
  }

  &__Divider {
    padding: 0 $gap-lg;

    @include media(laptop) {
      padding: 0 $expanded-gap-sm;
    }
  }

  a {
    color: $orioles-orange;

    &:hover {
      text-decoration: underline;
    }
  }

  h2,
  h3,
  p {
    margin-bottom: $gap-xs;

    @include media(laptop) {
      margin-bottom: $gap-sm;
    }
  }
}
