@import 'styles/mixins';

@import 'styles/colors';

.Divider {
  background: $sonic-silver;
  height: 0.5px;
  margin-left: 40px;
  margin-right: 40px;

  @include media(laptop) {
    background: $white;
    height: 0.5px;
    margin-left: 100px;
    margin-right: 100px;
  }
}
