@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

$block-gap: 3px;

.ServiceItem {
  margin: $block-gap 0 0;
  cursor: pointer;

  &__Icon {
    width: min-content !important;
    min-width: 23px;
    height: auto;
    aspect-ratio: 1;

    @include media(laptop) {
      min-width: 30px;
    }

    @include media(large-laptop) {
      min-width: 35px;
    }

    img {
      object-fit: contain !important;
    }
  }

  &__Link {
    width: 18px;
    min-width: 18px;
    height: auto;
    margin: 0 0 0 auto;
    fill: $white;
    transition: all 0.3s ease-in-out;

    @include media(laptop) {
      width: 22px;
      min-width: 22px;
    }

    @include media(large-laptop) {
      width: 25px;
      min-width: 25px;
    }
  }

  &:hover &__Link,
  &:focus-visible &__Link {
    fill: $rosso-corsa;
  }

  &__Text {
    line-height: 1;
  }

  &__Content {
    display: flex;
    padding: 25px 0;
    gap: $gap-sm;

    @include media(laptop) {
      padding: $gap-lg 0;
      gap: $gap-xl;
    }
  }
}
