@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.ProjectCard {
  position: relative;
  overflow: hidden;
  border-radius: $gap-xxs;
  aspect-ratio: 7/5;

  @include media(tablet) {
    aspect-ratio: 4/3;
  }

  @include media(laptop) {
    border-radius: $gap-sm;
  }

  &__Image,
  &__InnerCard {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  &__InnerCard {
    display: flex;
    width: 70%;
    height: auto;
    align-items: center;
    justify-content: center;
    aspect-ratio: 55/41;
    transition: all 0.25s ease-in-out;

    @include media(laptop) {
      border-radius: 7px !important;
    }

    & &__Dot {
      display: none;
      width: $gap-xxs;
      height: $gap-xxs;
      border-radius: 50%;
      background: $white;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;

      @include media(laptop) {
        display: block;
      }
    }
  }

  &:hover &__InnerCard,
  &:focus-within &__InnerCard,
  &:focus-visible &__InnerCard {
    @include media(laptop) {
      background: rgb($jet-black, 0.9);
    }
  }

  &:hover &__InnerCard__Dot,
  &:focus-within &__InnerCard__Dot,
  &:focus-visible &__InnerCard__Dot {
    @include media(laptop) {
      opacity: 1;
    }
  }

  &__Image {
    object-fit: cover;
  }

  &__Name {
    position: relative;
    text-align: center;
    text-shadow: 0 0 5px rgba($black, 0.5);

    @include media(large-tablet) {
      text-shadow: 0 0 15px rgba($black, 0.4);
    }
  }

  &__Button {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: none;
    width: 0;
    cursor: pointer;
    opacity: 0;
    transform: translate(-50%, 100%);
    transition: all 0.2s ease-in-out;

    @include media(laptop) {
      display: block;
      width: max-content;
    }
  }

  &:hover &__Button,
  &:focus-visible &__Button {
    @include media(laptop) {
      opacity: 1;
    }
  }

  &__ButtonText {
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }

  &:focus-visible &__ButtonText,
  &__Button:hover &__ButtonText {
    border-color: $white;
  }
}
