@import 'styles/gaps';
@import 'styles/mixins';

.Team {
  &__Title {
    margin: 0 0 $gap-lg;

    @include media(laptop) {
      margin: 0 0 $expanded-gap-md;
    }
  }

  &__Members {
    @include media(laptop) {
      display: grid;
      width: max-content;
      gap: $gap-lg;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__MoreContainer {
    @include media(laptop) {
      padding: 0 0 100px;
    }
  }

  &__More {
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
  }
}
