$white: #fff;
$black: #000;
$rosso-corsa: #d10000;
$orioles-orange: #f84c0b;
$philippine-orange: #ff7300;
$jet-black: #070707;
$sonic-silver: #757575;

$ukraine-blue: #0057b7;
$ukraine-yellow: #ffd700;
