$gap-xxs: 10px;
$gap-xs: 15px;
$gap-sm: 20px;
$gap-md: 30px;
$gap-lg: 40px;
$gap-xl: 50px;
$gap-xxl: 80px;

$divider-gap-sm: 100px;
$divider-gap-md: 150px;
$divider-gap-lg: 220px;
$divider-gap-xl: 250px;
