// Heading 1
$heading1-font-size: 3.125rem;
$heading1-font-weight: 800;
$heading1-line-height: 1.2;

$heading1-font-size-laptop: 5.625rem;

$heading1-font-size-large-laptop: 8.75rem;

// Heading 2
$heading2-font-size: 1.625rem;
$heading2-font-weight: 600;
$heading2-line-height: 1.225;

$heading2-font-size-laptop: 2.25rem;
$heading2-font-weight-laptop: 800;

$heading2-font-size-large-laptop: 3.125rem;

// Heading 3
$heading3-font-size: 1.3rem;
$heading3-font-weight: 400;
$heading3-line-height: 1.2;

$heading3-font-size-laptop: 1.875rem;
$heading3-font-weight-laptop: 500;

$heading3-font-size-large-laptop: 2.5rem;

// Heading 4
$heading4-font-size: 1.1rem;
$heading4-font-weight: 700;
$heading4-line-height: 1.1;

$heading4-font-size-laptop: 1.225rem;

$heading4-font-size-large-laptop: 1.875rem;

// Default
$default-font-size: 1rem;
$default-font-weight: 600;
$default-line-height: 1.375;

$default-font-size-laptop: 1.125rem;
$default-line-height-laptop: 1.3;

$default-font-size-large-laptop: 1.625rem;

// Small
$small-font-size: 1rem;
$small-font-weight: 400;
$small-line-height: 1.375;

$small-font-size-laptop: 1.125rem;
$small-font-weight-laptop: 500;
$small-line-height-laptop: 1.3;

$small-font-size-large-laptop: 1.625rem;

// Tiny
$tiny-font-size: 0.75rem;
$tiny-font-weight: 400;
$tiny-line-height: 1.2;

$tiny-font-size-laptop: 1rem;
$tiny-font-weight-laptop: 500;

$tiny-font-size-large-laptop: 1.125rem;
