@import './colors';

:export {
  black: $black;
  jetBlack: $jet-black;
  oriolesOrange: $orioles-orange;
  philippineOrange: $philippine-orange;
  rossoCorsa: $rosso-corsa;
  sonicSilver: $sonic-silver;
  ukraineBlue: $ukraine-blue;
  ukraineYellow: $ukraine-yellow;
  white: $white;
}
