@import './media';

:export {
  breakpointDesktop: $breakpoint-desktop;
  breakpointLaptop: $breakpoint-laptop;
  breakpointLargeLaptop: $breakpoint-large-laptop;
  breakpointLargePhone: $breakpoint-large-phone;
  breakpointLargeTable: $breakpoint-large-tablet;
  breakpointPhone: $breakpoint-phone;
  breakpointTablet: $breakpoint-tablet;
}
