@import 'styles/gaps';
@import 'styles/mixins';
@import 'styles/colors';

$first-line-indent: 76px;

.Hero {
  position: relative;
  height: 100vh;
  padding-top: $expanded-gap-lg;
  padding-left: 40px;
  background: no-repeat right / cover url('/images/hero-bg.jpg');

  @include media(phone) {
    padding-left: 20px;
  }

  @include media(laptop) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }

  &__Box {
    @include media(laptop) {
      display: flex;
      width: max-content;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 100px;
    }
  }

  &__Title {
    margin-bottom: $gap-lg;
    pointer-events: none;
    text-transform: uppercase;

    @include media(laptop) {
      position: relative;
      margin-bottom: 60px;
      line-height: 0.93;
      line-height: 1;
      text-indent: 76px;
    }

    &::before {
      margin-right: $gap-xs;
      color: inherit;
      content: '>';
      font-size: inherit;

      @include media(laptop) {
        position: absolute;
        left: -100px - $first-line-indent;
      }
    }
  }

  &__SelectionBg {
    background: rgb(209, 0, 0, 0.8);
    font-size: inherit;
    font-weight: inherit;
  }

  &__Subtitle {
    width: 220px;

    @include media(laptop) {
      width: 360px;
      margin-right: 190px;
    }
  }
}
