@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';

.ServiceItem {
  margin-bottom: 5px;
  cursor: pointer;

  @include media(laptop) {
    margin-bottom: $gap-xxs;
  }
  &__Icon {
    width: 20px;
    height: 20px;
    fill: $white;

    @include media(laptop) {
      width: 30px;
      height: 30px;
    }
    &--Link {
      width: 30px;
      height: auto;
      padding-left: 10px;
      margin: 0 0 0 auto;
    }
  }

  &:hover &__Icon,
  &:focus-visible &__Icon {
    fill: $rosso-corsa;
    transition: all 0.3s ease-in-out;
  }

  &__Text {
    margin-left: $gap-sm;

    @include media(laptop) {
      margin-left: $gap-xl;
    }
  }

  &__Content {
    display: flex;
    align-items: baseline;
    padding-top: 25px;
    padding-bottom: $gap-md;

    @include media(laptop) {
      padding-top: $gap-lg;
      padding-bottom: $gap-xl;
    }
  }
}
