@import 'styles/mixins';
@import 'styles/colors';
@import 'styles/gaps';

.Item {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__Icon {
    width: 20px;
    height: 20px;
    fill: $white;
    transition: 0.5s ease;

    @include media(laptop) {
      width: 33px;
      height: 33px;
    }
  }

  &:hover .Item__Icon {
    fill: $orioles-orange;
    transition: 0.5s ease;
  }

  &__Block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__Content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 28px;
    gap: $gap-sm;

    @include media(laptop) {
      margin-top: 48px;
      margin-bottom: 48px;
      gap: $gap-xl;
    }
  }

  &__Divider {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
