@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';
@import 'styles/variables';

$mobile-safe-area-bottom: $gap-xl;

.MobileMenu {
  position: fixed;
  z-index: 10;
  top: 0;
  right: -100%;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: calc(100vh + $mobile-safe-area-bottom);
  flex-direction: column;
  padding-bottom: $mobile-safe-area-bottom + $gap-lg;
  backdrop-filter: saturate(110%) blur($blur-zero);
  background: rgba($jet-black, 0.85);
  // filter: blur($blur-md) opacity(0.1);
  transition: /* filter ease-out 0.3s, */ backdrop-filter 0.25s linear, transform 0.2s cubic-bezier(0.65, 0, 0.45, 1);
  will-change: /* filter */ transform backdrop-filter;

  &--Open {
    backdrop-filter: saturate(180%) blur($blur-md);
    // filter: blur($blur-zero) opacity(1);
    transform: translateX(-100%);
  }

  &__Social {
    display: flex;
    max-width: 350px;
    justify-content: space-between;
  }

  &__ContactFormButton {
    margin: $gap-lg 0 $gap-xxl;
    cursor: pointer;

    p {
      color: $orioles-orange;
      transition: all 0.2s ease-in-out;
    }

    &:hover p,
    &:focus-visible p {
      color: $rosso-corsa;
    }
  }

  &__CloseButton {
    position: absolute;
    top: 35px;
    right: $gap-sm;
    width: $gap-lg;

    @include media(phone) {
      top: $gap-lg;
      right: $gap-lg;
    }

    svg {
      width: 16px;
      color: $white;
    }
  }

  &__LanguageSwitcher {
    margin-top: $gap-lg;
    // margin-top: auto;
  }
}
