@import 'styles/colors';
@import 'styles/gaps';
@import 'styles/mixins';
@import 'styles/variables';

.MobileMenu {
  position: fixed;
  z-index: 10;
  top: 0;
  right: -100%;
  display: block;
  overflow: hidden;
  width: 100vw;
  height: calc(100vh + $gap-xl);
  padding: 0 $gap-lg;
  backdrop-filter: saturate(110%) blur($blur-zero);
  background: rgba($jet-black, 0.85);
  filter: blur($blur-md) opacity(0.1);
  transition: filter ease-out 0.3s, backdrop-filter 0.25s linear, transform 0.2s cubic-bezier(0.65, 0, 0.45, 1);
  will-change: filter transform backdrop-filter;
  // box-shadow: 0 0 10px 20px rgba($jet-black, 0.9);

  &--Open {
    backdrop-filter: saturate(180%) blur($blur-md);
    filter: blur($blur-zero) opacity(1);
    transform: translateX(-100%);
  }

  &__Navigation {
    display: flex;
    flex-direction: column;
    gap: $gap-lg;
  }

  &__ContactFormButton {
    margin-top: $gap-lg;
    color: $orioles-orange;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
  }

  &__CloseButton {
    position: absolute;
    top: $gap-lg;
    right: $gap-lg;
    width: $gap-lg;
    cursor: pointer;

    svg {
      width: 16px;
      color: $white;
    }
  }
}
